@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  padding: 8px 16px;
}

ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

a,
h1 {
  text-decoration: none;
  color: #e5e7eb;
}

.first-view {
  background-color: #1f2937;
  min-height: 100vh;
}
